* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  position: "relative";
  background-image: url("@images/background.png");
  padding: 36px 0;

  max-width: 1200px;
  min-width: 320px;
  width: 100vw;
}

#app {
  min-width: 300px;
}

input,
button {
  border: none;
  outline: none;
}

input {
  -webkit-appearance: none !important;
  border-radius: 0;
  -webkit-border-radius: 0;
}
